body {
  background-color: rgb(209, 244, 251);
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  border-bottom: 1px solid black;

}

.Container {
  width: 500px;
  height: 470px;
  background-color: white;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#text {
  resize: none;
  font-size: 20px;
  height: 150px;
  width: 450px;
  margin: 20px 0px 20px 10px;
  border: none;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Me,
h4 {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
}

.Me>img {
  border-radius: 40px;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.freinds {
  margin: -30px 230px 0px 75px;
  background-color: #E4E6EB;
  width: 160px;
  border-radius: 10px;
  cursor: pointer;
}

.freinds>img {
  width: 20px;
}

.Container>button {
  width: 90%;
  background-color: #2374e1;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
}

.Container>button:hover {
  background-color: #2c84f8;

}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  justify-content: space-between;
  margin: -5px 0px 5px 20px;
cursor: pointer;
}

.btn:hover {
  box-shadow: 20px black;
}

.color {
  display: flex;
}

.posted {
  background-color: white;
  width: 500px;
  height: 290px;
  margin: auto;
  border-radius: 15px;
  display: none;
}

.LCS {
  border-top: 1px solid black;
  margin: 30px;
}

.LCS>button {
  list-style: none;
  margin: 20px 20px 0 30px;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
}

.LCS>button:hover {
  background-color: rgb(209, 197, 175);
}

h3 {
  font-size: 25px;
  padding: 15px;
  border-bottom: 1px solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}